<div class="row">
<<<<<<< HEAD
  {% util.eachComponent(components, function(component) { %}
    {% if (!component.hasOwnProperty('tableView') || component.tableView) { %}
      <div class="col-sm-2">
        {{ getView(component, row[component.key]) }}
      </div>
    {% } %}
  {% }) %}
  {% if (!instance.options.readOnly) { %}
    <div class="col-sm-2">
      <div class="btn-group pull-right">
        <button class="btn btn-default btn-sm editRow"><i class="{{ iconClass('edit') }}"></i></button>
        <button class="btn btn-danger btn-sm removeRow"><i class="{{ iconClass('trash') }}"></i></button>
=======
  {% ctx.util.eachComponent(ctx.components, function(component) { %}
    {% if (!component.hasOwnProperty('tableView') || component.tableView) { %}
      <div class="col-sm-2">
        {{ ctx.getView(component, ctx.row[component.key]) }}
      </div>
    {% } %}
  {% }) %}
  {% if (!ctx.self.options.readOnly) { %}
    <div class="col-sm-2">
      <div class="btn-group pull-right">
        <button class="btn btn-default btn-light btn-sm editRow"><i class="{{ ctx.iconClass('edit') }}"></i></button>
        <button class="btn btn-danger btn-sm removeRow"><i class="{{ ctx.iconClass('trash') }}"></i></button>
>>>>>>> 6b7f42f47594eba47919f99b6fb356c8392aae4e
      </div>
    </div>
  {% } %}
</div>
